/*
THEME NAME: Smells like Facebook
THEME URI: http://wp.nazieb.com/smells-like-facebook/
VERSION: 2.3
AUTHOR: Ainun Nazieb
AUTHOR URI: http://nazieb.com/
DESCRIPTION: The exact Facebook clone theme for Wordpress. Based on Facebook profile page. 3 columns or 2 columns available. Advanced Javascript & AJAX effect just like on Facebook also available.
TAGS: white, blue, two-columns, three-columns, theme-options, fixed-width, light
*/

* { margin: 0px; padding: 0px; border: 0; outline: 0; }
ul li {list-style: none;}

body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	
}

input[type=text], textarea {
	color: #777777;
	font-size: 11px;
	padding: 3px;
}

input, textarea {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

input[type=submit], input.submit {
	background-color:#5F78AB;
	border:1px solid #888888;
	border-color:#26446E #152F5F #0C2253;
	color:#FFFFFF;
	text-shadow:0 1px 0 #3E5A88;
	font-size:11px;
	font-weight:bold;
	padding: 3px 6px 4px;
	text-align:center;
}

a {
	color: #3B5998;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	color: #999;
	backgrond: #DDD;
}

#wrapper {
	width: 964px;
	margin: 0 auto;
}

#menu {
	background: #333;
	float: left;
	width: 100%;
	font-size: 11px;
}

#logo {
	float: left;
	margin: 5px 0px 3px 3px;
}

#menu li {
	color: #fff;
	list-style: url(http://www.lacapi.com.ar/wp-content/themes/smells-like-facebook/none) none;
	float: left;
	padding: 7px 0px 8px 0px;
}

#menu li a {
	color: #fff;
	text-decoration: none;
	padding: 7px;
}

#pagemenu {
	margin-left: 5px;
}

#pagemenu a {
	font-weight: bold;
}

#pagemenu a:hover {
	background-color: #5C75AA;
}

#pagemenu ul {
	position: absolute;
	border: 1px solid #3B5998;
	margin-top: 5px;
	display: none;
}

div#menu ul#pagemenu li:hover ul, div#menu ul#pagemenu li:hover ul:hover {
	display: block;
}

#pagemenu ul li {
	float: none;
	background-color: #fff;
	padding: 2px 0px;
}

#pagemenu ul li a {
	color: #3B5998;
	font-weight: normal;
	padding: 5px 20px;
	display: block;
}

#pagemenu ul li a:hover {
	color: #fff;
}

#menu #more {
	float: right;
}

#moremenu {
	float: right;
}

#moremenu li {
	margin-right: 5px;
}

#moremenu li a:hover {
	background-color: #5C75AA;
}

#moremenu ul {
	position: absolute;
	border: 1px solid #3B5998;
	background: #fff;
	margin-top: 5px;
	display: none;
}

div#menu 	div#more ul#moremenu li:hover ul {
	display: block;
}

#feedmenu li.feedli {
	float: none;
	padding: 0px;
	margin: 0px;
	
}
#feedmenu li a {
	color: #3B5998;
	padding: 5px 20px;
	display: block;
}

#feedmenu li a:hover {
	color: #fff;
}

#search {
	float: right;
	margin-top: 4px;
	margin-right: 12px;
	margin-left: 5px;
}

#search-text {
	float: left;
	margin-right: 2px;
}

#search-submit {
	float: left;
}

#title {
	width: 100%;
	height: 175px;
	background: url(images/bg.png) repeat-y;
}
#title h1 {
	font-size: 50px;
	display: inline;
	text-transform: uppercase;
	padding: 0 0 25px 25px;
}

#title h1 a {
	color: #000;
	text-decoration: none;
}

#desc {
	padding: 0 0 0 25px;
	font-size: 20px;

}

#categories {
	margin-top: 11px;
	margin-bottom: 45px;
	z-index: 10;
	position: relative;
}

#categories li {
	text-transform: capitalize;
	float: left;
	background: #D8DFEA;
	margin-left: 3px;
}
#categories li a {
	font-size:13px;
	font-weight:bold;
	padding:4px 11px;
	display: block;
}

#categories li a:hover {
	color: #fff;
	text-decoration: none;
	background: #627AAD;
}

#categories .current-cat {
	background: #fff;
}

#categories .current-cat a {
	background: #fff;
	color: #000;
}

#categories .current-cat a:hover {
	background: #fff;
	color: #000;
}

#categories #plus {
	background: url(images/plus.gif) no-repeat top left;
	z-index:999999;
/*	position:relative;
	display: block; */
}

#categories #plus:hover, #categories #plus.hover {
	background: #627AAD url(images/plus.gif) no-repeat left -25px;	
}

#hiddencats {
	width: 100px;
	z-index: 10000;
	left:-3px;
	position:relative;
	top:-28px;
}

#hiddencats li {
	padding: 0px;
/*	padding: 8px 5px 4px 8px; */
	background: #eee;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	float: none;
	margin-left: 0px; 
}

#hiddencats li.browsecat {
	background: #fff;
	border: 1px solid #000;
	border-left: 1px solid #fff;
	border-bottom: none;
	padding: 8px;
	width: 150px;
	color: #666;
}

#hiddencats li a{
	font-weight: normal;
	font-size: 11px;
	padding: 7px 12px;
}

#hiddencats li a:hover {
	background: #899BC1;
}

#hiddencats .current-cat {
	background: #eee;
}

#hiddencats .current-cat a {
	background: #eee;
	color: #3B5998;
}

#hiddencats .current-cat a:hover {
	background: #899BC1;
	color: #fff;
}

#hiddencats ul {
	border-bottom: 1px solid #000;
}

#hiddenleft {
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	border-right: none;
	position: absolute;
	background: #fff;
	padding: 2px;
}

#hiddenplus {
	background: #627AAD url(images/plus.gif) no-repeat left -25px;
	height: 25px;
	width: 25px;
	cursor: pointer;
}

#hiddenright {
	position: absolute;
	margin-left: 30px;
}

#content {
	float: right;
	width: 740px;
	margin: 0 5px 0 5px;
	overflow: hidden;
}

.post {
	float: left;
	margin-bottom: 18px;
	width: 100%;
}

.post-gravatar {
	/*float: left;
	margin-right: 10px;*/
	display: none;

}

.post-text {
	width: 100%;
	text-align: center;
}

.post-text label input {
	border:1px solid #BDC7D8;
	margin-bottom: 3px;
	color: #777777;
	font-size: 11px;
	padding: 3px;
	text-align: left;
	background: #fff;
}

.post .title {
	margin-bottom: 10px;
	font-size: 13px;
	background:#333;
	color: #FFF;
	padding: 5px;
	text-align: left;

}
.post .title  a {
	color: #FFF;
}

.post p {
	margin-bottom: 10px;
	line-height: 15px;
}

.post-text ul li {
	margin-left: 15px;
	list-style-type: disc;
}
.post-text  hr {
border-bottom: 1px solid #999;

}

.post ol {
	margin-left: 20px;
	list-style: decimal;
}

.post ul, .post ol, .post li {
	margin-bottom: 10px;
}

.post ul ul, .post ol ol {
	margin-top: 10px;
}

.post .meta, .post .post-meta {
	color: #777;
	margin-top: 5px;
	margin-bottom: 5px;
}

.post-meta {
	border-top: 1px solid #DDDDDD;
	padding-top: 3px;
}

.navigation {
	margin-left: 100px;
	margin-top:8px;
	padding:3px 7px 4px 0;
	float: left;
	width: 100%;
}

.next {
	margin-left:52px;
	float: left;
}

.prev {
	margin-right:52px;
	float: right;
}

.sidebar {
	float: left;
	width: 200px;
}

.large-avatar {
	margin-bottom: 10px;
}

.user-desc {
	border:1px solid #D8DFEA;
	color:#333333;
	margin-bottom:20px;
	padding:7px;
}

#sidebar .widget {
	/* border-top:1px solid #94A3C4; */
	padding-bottom:0px;
/*	border-right:1px solid #D8DFEA; */
	background-color: #FFF;
}

#sidebar .widgettitle {
	background:#333 none repeat scroll 0 0;
	border-top:0 none;
	display:block;
	font-size:11px;
	margin-bottom:0px;
	padding: 5px 5px;
	color: #FFF;
}

#sidebar .widgettitle  a {
	text-decoration: none;
	color: #000;
}

#sidebar .widgettitle img {
	display: none;
}

#sidebar .widget ul {
	padding:0px 7px 10px 8px;
}

#sidebar .widget li {
	margin-top: 5px;
}

.index-comment{
	background: #ECEFF5;
/*	width: 100%;*/
	margin-top: 2px;
	text-align: left;
	list-style: none;
	padding: 7px;
}

.ic-text {
}


.morecomments {
	background: #ECEFF5 url(images/comment.gif) no-repeat scroll 7px 7px;
}

.morecomments a {
	margin-left: 18px;
}


.index-comment cite {
	margin-left: 10px;
	margin-right: 4px;
	float: right;
	height: 100%;
	width: 80px;
	text-align: center;
}
.index-comment cite img{
	margin-left: 20px;
	margin-right: 20px;
}
.ic-author {
	font-weight: bold;
	display: inline;
}

.ic-content {
	display: inline;
}
.ic-content  a {
	float: right;
}

.ic-date {
	color: #777;
	margin-top: 2px;
}
.comment-form , .comment-form *{
	text-align: left;
}
.comment-form, .post form {
	background: #ECEFF5;
	padding: 7px;
	width: 534px;
}

.comment-form input[type=text], #comment_form input[type=text], .comment-form textarea, #comment_form textarea {
	border:1px solid #BDC7D8;
	margin: 3px;
	width: 514px;
}
.comment-form textarea.commenttextright, #comment_form textarea.commenttextright {
	height:20px;
	margin-left:5px;
}

.form_submit_right, .form_submit {
	text-align: right;
	margin-rigth: 17px;
}

textarea.respondtext {
	border:1px solid #BDC7D8;
	height:14px;
}



.archive {
	background:#F7F7F7 none repeat scroll 0 0;
	border-bottom:1px solid #D8DFEA;
	border-top:1px solid #3B5998;
	padding:4px 6px 5px;
	color:#333333;
	font-size:13px;
	font-weight:bold;
	line-height:15px;
}

.nofloat {
	float: none;
	width: 100%;
}

/* Wordpress requirement */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

/*----------------LINK---------------*/
.apilados li, #linkcat-15 ul li, #linkcat-20 ul li {
	display: inline;
	padding: 0;
	margin: auto;
}
/*----------------/LINK---------------*/






/*----------------RECIENTES---------------*/

.tiraArriba {
	position: absolute;
	padding-left: 175px;
	top:25px;
}
.tiraHorizontal {
	clear: both;
	height: 140px;
	width: 600px;
	z-index: 1000; 
}

.tiraHorizontal  a{
	position: relative; 
	width: 100px;
	padding: 0;
	margin: 6px;
	margin-left: 10px;
	border: 1px solid #000;	
	overflow: hidden;
	text-align: center;
	height: 140px;
	background: #fff;
	z-index: 50;
	float: left;
}


.tiraHorizontal  a:hover {
	text-decoration: none;
	background: #000;
}
.tiraHorizontal a p {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: display;
	color: #fff;
	background: #000;
	width: 100px;
	height: 40px;
	padding: 0;
	margin: 0;
}

.recientesVertical {
	width: 100%;
}
.recientesVertical div {
	text-align: center;
	padding: 5px;
	margin: 6px;
	border: 1px solid #000;	
	background: #fff;
}

.recientesVertical div p {
	color: #FFF;
	background: #000;
	width: 100%;
	margin: 2px;
}
/*----------------/RECIENTES---------------*/

/*----------------DONATE---------------*/
.post table, tr {
width: 100%;
padding-bottom: 3px;
}
.post td {
padding: 3px;
}
.post img, .post embed, .post object {
display: block;
margin: auto;
margin-bottom: 10px;
}
/*----------------/DONATE---------------*/
.sociable img {
display: inline;
}

/*----------------SEARCH---------------*/
.post-text .mini {
float: left;
}
/*----------------/SEARCH---------------*/




/*----------------AVATAR POST---------------*/
#enlace {
	width: 100%;
	display: block;
	vertical-align: middle;
}
#avatars img, #enlace img {
	display: inline;
	padding: 7px;
}
#avatars {
	width: 100%;
	display: block;
}
/*----------------/AVATAR POST---------------*/



.loading {
	position: fixed;
	left:50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;
}

#vcard{
	margin: 0px;
	padding: 0px;
	display: inline;
}

/*----------PIE----------------*/

#footer {
	border-top:1px solid #DDDDDD;
	clear:both;
	float:left;
	margin-bottom:20px;
	margin-top:10px;
	padding-top:5px;
	text-align:right;
	width:100%;
	background: #666;
	color: #fff;
	padding: 5px;
}

#footer ul li {
	color: #fff;
	background: #666;
	list-style: url(http://www.lacapi.com.ar/wp-content/themes/smells-like-facebook/none) none;
	float: left;
	padding: 7px 0px 8px 0px;
	width: 25%;
}
#footer ul {
	padding-bottom: auto;
}
#footer ul li ul li {
	float: none;
	width: 100%;
	padding: 0px 0px 2px 0px;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer div a {
	color: #d99;
	text-decoration: none;
}
#footer h2 {
	margin-bottom: 10px;
}
#footer immg {
	margin:1px;
}
/*----------/PIE----------------*/
#tag_cloud {
	text-align: center;
}

#tag_cloud a {
	text-decoration: none;
	
}

#tag_cloud a:hover {
	background: #666;
	color: #fff;
}
.descargaswidget {
	position: relative;
}
.descargaswidget div {
	position: relative;
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 10px;

}

.dashboard {
	padding: 0;
	display: block;
	height: 100px;
	width: 100px;
	float: left;
	clear: both;
}
/*

<div id="post-ratings-95" class="post-ratings"><img id="rating_95_1" src="http://www.lacapi.com.ar/wp-content/plugins/wp-postratings/images/heart/rating_1_off.gif" alt="Love" title="Love" onmouseover="current_rating(95, 1, 'Love');" onmouseout="ratings_off(0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer; border: 0px;" /> <span class="post-ratings-text" id="ratings_95_text"></span></div>
<div id="post-ratings-95-loading"  class="post-ratings-loading"><img src="http://www.lacapi.com.ar/wp-content/plugins/wp-postratings/images/loading.gif" width="16" height="16" alt="Loading ..." title="Loading ..." class="post-ratings-image" />&nbsp;Loading ...</div>

*/

.post-ratings img {
	float: right;
	z-index: -1;
	width: 16px;
	height:16px;
}
.post-ratings, .post-ratings-loading {
	position: absolute;
	width: 32px;
	right: 3px;
	top: 3px;
}
.post-ratings-text {
	position: absolute;
	width: 0px;
	right: 0px;
	top: 0px;
	display: none;
	color: transparent;
}

.post {
	position: relative;
}

.widgetRapido {
	position: absolute;
	top: 144px;
	margin: 2px;
}

/*-------------*/

.advertencia {
	background: yellow; 
	color: black;
	width:70%;
	margin-left: 14%;
	padding: 10px;

}
.advertencia a{
	background: #F0F;
	color: #fff;
	padding: 2px;
}

.advertencia a:hover {
	color: #000;
	text-decoration: none;
}

.msj_wiget input, .msj_wiget textarea{
	border: 1px solid #ddd;
	margin: 5px;
	width: 180px;
}